In [1]:
!pip install sqlalchemy

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: sqlalchemy in c:\users\sofiadomingues-ieg\appdata\roaming\python\python311\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\sofiadomingues-ieg\appdata\roaming\python\python311\site-packages (from sqlalchemy) (4.10.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\sofiadomingues-ieg\appdata\roaming\python\python311\site-packages (from sqlalchemy) (3.0.3)

In [2]:
from selenium import webdriver
from selenium.webdriver.common.by import By
from time import sleep
from datetime import datetime
from selenium.webdriver.chrome.options import Options
from sqlalchemy import create_engine
import psycopg2

In [3]:
chrome_options = Options()
chrome_options.add_argument("--headless")
driver = webdriver.Chrome(options=chrome_options)

driver.get('https://www.google.com/finance/quote/USD-BRL')
sleep(1)

dolar = float(driver.find_element(By.CLASS_NAME, 'fxKbKc').text)
print(dolar)

driver.quit()

5.246

In [4]:
data_ori = datetime.now()

data = str(data_ori.strftime('%Y-%m-%d'))
hora = str(data_ori.strftime('%H:%M'))

print(data + ' ' + hora)
print(type(dolar))

2024-06-03 07:21
<class 'float'>

In [5]:
engine = create_engine('postgresql://postgres:1234@localhost/dbcotacoes')

In [6]:
%load_ext sql

In [7]:
%sql postgresql://postgres:1234@localhost/dbcotacoes

In [8]:
%%sql

CREATE TABLE cotacao_dolar (
    id SERIAL PRIMARY KEY,
    data DATE,
    hora TIME,
    cotacao DECIMAL (10, 2)
)

 * postgresql://postgres:***@localhost/dbcotacoes
(psycopg2.errors.DuplicateTable) relation "cotacao_dolar" already exists

[SQL: CREATE TABLE cotacao_dolar (
    id SERIAL PRIMARY KEY,
    data DATE,
    hora TIME,
    cotacao DECIMAL (10, 2)
)]
(Background on this error at: https://sqlalche.me/e/20/f405)

In [9]:
%%sql

CREATE OR REPLACE PROCEDURE inserir_tabela(data DATE, hora VARCHAR, cotacao DECIMAL)
AS
$$
BEGIN
    INSERT INTO cotacao_dolar(data, hora, cotacao) VALUES (data, hora::TIME, cotacao);
END;
$$
LANGUAGE plpgsql;

 * postgresql://postgres:***@localhost/dbcotacoes
Done.

[]